 @import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700); /* feel free to change this */

 *, *:before, *:after {
   -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

 html, body
 {
     padding: 0px;
     margin: 0px;
     font-family: 'Ubuntu', sans-serif;
     font-size: 100%;
     /*background: #E9E9E9;*/
	 background: #dddddd;
	 background-image: url('../images/background.png');
     min-width: 1250px;
 }


.navContainer {
    width: 100%;
    /*background: #aaaaaa;*/

	background: rgba(156,156,156,1);
	background: -moz-linear-gradient(top, rgba(156,156,156,1) 0%, rgba(173,173,173,0) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(156,156,156,1)), color-stop(100%, rgba(173,173,173,0)));
	background: -webkit-linear-gradient(top, rgba(156,156,156,1) 0%, rgba(173,173,173,0) 100%);
	background: -o-linear-gradient(top, rgba(156,156,156,1) 0%, rgba(173,173,173,0) 100%);
	background: -ms-linear-gradient(top, rgba(156,156,156,1) 0%, rgba(173,173,173,0) 100%);
	background: linear-gradient(to bottom, rgba(156,156,156,1) 0%, rgba(173,173,173,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9c9c9c', endColorstr='#adadad', GradientType=0 );

    float: left;
}

.navItemWrapper {
    float: left;
    padding: 10px;
}

.localNavWrapper {
    float: left;
    margin: 10px;
    padding: 20px;
    border: solid 1px;
	border-radius: 0px 12px 0px 12px;
	-moz-border-radius: 0px 12px 0px 12px;
	-webkit-border-radius: 0px 12px 0px 12px;
}

.pageContentWrapper {
    width: 1200px;
    margin: auto;
    border: solid 1px;
}

.pageContentHomePage {
    width: 100%;
}


.pageContent {
	border: solid 1px;
    padding: 20px;
	padding-top: 0px;
    margin: 10px;
    float: left;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	border-radius: 0px 12px 0px 12px;
	-moz-border-radius: 0px 12px 0px 12px;
	-webkit-border-radius: 0px 12px 0px 12px;
	background: #E9E9E9;
}

.pageContentDocs {
    width: 1000px;
}

.logo {
    float: left;
    padding: 10px;
}

#errorPage {
    position:absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 40px;
}

.localNavContainer{
	border-left: solid 1px;
	padding-left: 5px;
	margin-left: -10px;
    float: left;
}

a{
	text-decoration: none;
	color: #444444;
}

a:hover{
	text-decoration: underline;
}

a:active{
	text-decoration: underline;
}

a:visited{
	text-decoration: none;
	color: #222222;
}

.localNavWrapper{
	background: #E9E9E9;
	-webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
}


#main {
    float: left;
}
#command-of-day, #top-ten-commands{
    padding: 1em;
    border: 1px solid #e1e1e1;
    float: right;
    clear: right;
    width: 200px;
    margin: .5em;
}
#command-of-day h3, #top-ten-commands h3{
    color: #aaa;
}
#command-of-day h4{
    font-size: 1.2em;
}

#top-ten-commands ul li, #top-ten-commands a{
    list-style: none;
    text-decoration: none;
    color: black;
}

#top-ten-commands a:visited {
    color: purple;
}

#top-ten-commands a:hover{
    font-style: italic;
}
